hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    color: var(--azul);
    font-size: 18px;
    font-weight: 500;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .rodape__titulo {
        font-size: 25px;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.5em 0;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 1.5em 0;
    }

    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.5em;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 0.7px solid var(--cinza);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}